{% extends "base.html.twig" %}

{# {% block title %} blabla {{product.name}} {% endblock %} #}

{% block body %}

	{% for product in product %}
		<div class"raw">
			<h2>{{ product.name }}</h2>


			{% if product.getProductPicture() | length > 0 %}
				<img src="{{ asset('product-pictures/' ~ product.getProductPicture()[0].path) }}" width="100"/>
			{% endif %}
			<span>{{ product.price | format_currency('EUR', locale='fr') }}</span>
		</div>
	{% else %}
		Aucun produit dans l'Univers
		{{ category.title }}.
	{% endfor %}



<div>
	<div>
		<h2>Liste des commentaires</h2>
	</div>
</div>
<div>
	<div>
		<h2>Ajouter un commentaires</h2>
		{{form(reviewForm) }}
		</div>


		{% for message in app.flashes('message') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		

	</div>
{% endblock %}
